<div class="container-footer">
    <div class="total">
        <p>Total:</p>
        <strong>R$ 10.0000</strong>
    </div>
    <div class="addCoupon">
        <div class="tag"></div>
        <div class="box-inputCoupon">
            <div>
                <input type="text" name="inputAddCoupon" id="inputAddCoupon" placeholder="Adicionar cupom">
                
                <div class="border"></div>
            </div>
            <img src="../../../assets/img/Close.svg" alt="" class="close">
        </div>
    </div>

    <app-button-primary></app-button-primary>
</div>