<div class="container-home">    
    <header>
        <div class="head">
            <p #titleCart >Seu carrrinho tem {{ quantityProductsInCart }} itens</p>
            <img src="../../../assets/img/Close.svg" alt="">
        </div>
    </header>

    <main #main> 
        <app-product 
            *ngFor="let item of products"
            [productId]="item.id"
            [productImg]="item.image"
            [productTitle]="item.title"
            [productPrice]="item.price"
        ></app-product>
    </main>
    
    <footer>
        <app-footer></app-footer>
    </footer>
</div>