<div class="container-product">
    <div class="product-img">
        <img src="{{ productImg }}" alt="">
    </div>
    <div class="product-info">
        <div class="product-title">
            <h2>{{ manipulatedtitle() }}</h2>
        </div>
        
        <div class="product-footer">
            <div class="product-price">
                <p>R$ {{ productPrice }}</p>
            </div>
            <div class="product-buttonQuantity">
                <button class="btnLess" (click)="removeQuantityProduct()" #btnLess>
                    <div class="btnLessImg"></div>
                </button>
                <p class="quantity">{{ productQuantity }}</p>
                <button class="btnMore" class="hover-substract" (click)="addQuantityProduct()">
                    <div class="btnMoreImg"></div>
                </button>
            </div>
        </div>
    </div>
    <button class="deleteProduct" (click)="deleteProduct(productId)">
        <img src="../../../assets/img/Close.svg" alt="">
    </button>
</div>